<%-include('cabecalho.ejs');%>
   <form method="post">
    Id: <input type="text" name="id" readonly value="<%=Usuario._id%>"><br>   
    Nome: <input type="text" name="nome" 
        placeholder="Digite seu nome" value="<%=Usuario.nome%>"><br>
    Ano: <input type="text" name="ano" 
        placeholder="Digite seu email" value="<%=Usuario.ano%>"><br>
    Diretor: <input type="text" name="diretor" 
       placeholder="Digite sua senha" value="<%=Usuario.diretor%>"><br>
       Sinopse: <input type="text" name="sinopse" 
       placeholder="Digite sua senha" value="<%=Usuario.sinopse%>"><br>
    Foto: <input type="file" name="foto"><br>
       <input type="submit" value="Enviar">
   </form> 
<%-include('rodape.ejs');%>