<%-include('cabecalho.ejs');%>   
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        <% Usuarios.forEach(function(usuario){  %>
        <tr>
            <td><%=usuario._id%></td>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td>
            <td><%=usuario.senha%></td>
            <td><%=usuario.foto%></td>
            <td>
                <a href="/edt/<%=usuario._id%>">
                    <img src="/images/edit.png">
                </a>
            </td>
            <td>
                <a href="/del/<%=usuario._id%>">
                    <img src="/images/lixeira.png">
                </a>
            </td>
        </tr>
        <% }) %>
    </table>
<%-include('rodape.ejs');%>